@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
  font-family: "Montserrat", sans-serif;
}

.App {
  min-height: 100vh;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6f9283+0,6a6262+100 */
  background: #6f9283; /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #6f9283 0%,
    #6a6262 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #6f9283 0%,
    #6a6262 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    #6f9283 0%,
    #6a6262 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f9283', endColorstr='#6a6262',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: "Montserrat";
  color: #f0dcca;
}

.search {
  min-height: 10vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.search-bar {
  border: none;
  padding: 10px 10px;
  background: #f0dcca;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search-button {
  background: #bdc667;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  color: #f0dcca;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.recipe {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  grid-row: 2/3;
  grid-column: 1/3;
}

.title {
  grid-column: 2/3;
  align-self: flex-end;
}

.image {
  padding: 20px;
  max-height: 600px;
  max-width: 800px;
  justify-self: center;
  align-self: center;
  grid-row: 2/3;
  grid-column: 1/2;
}

.ingredients {
  align-self: flex-end;
  max-width: 60%;
}

.steps {
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
}

.instructions {
  align-self: flex-end;
  max-width: 60%;
}

.nextButton {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 50px;
  color: #f0dcca;
}
